[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/sensible"]
	path = vim/bundle/sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "vim/bundle/flavored-markdown"]
	path = vim/bundle/flavored-markdown
	url = git@github.com:jtratner/vim-flavored-markdown.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "vim/powerline"]
	path = vim/powerline
	url = git@github.com:Lokaltog/powerline.git
[submodule "lib/powerline"]
	path = lib/powerline
	url = git@github.com:Lokaltog/powerline.git
[submodule "vim/bundle/tcomment"]
	path = vim/bundle/tcomment
	url = git@github.com:vim-scripts/tComment.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundle/colorschemes"]
	path = vim/bundle/colorschemes
  url = https://github.com/flazz/vim-colorschemes.git
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/railscasts"]
	path = vim/bundle/railscasts
  url = git@github.com:jpo/vim-railscasts-theme.git
[submodule "vim/bundle/vim-better-whitespace"]
	path = vim/bundle/vim-better-whitespace
	url = git@github.com:ntpeters/vim-better-whitespace.git
